<mat-card>
  <div class="header-login">
    <h2>Iniciar sesión</h2>
  </div>

  <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
    <mat-card-content>
      <div class="emailInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Usuario</mat-label>
          <input formControlName="username"
                 matInput
                 placeholder="Usuario"
                 required/>
          <mat-error *ngIf="!loginForm.controls['username'].valid">
            Usuario obligatorio
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input formControlName="password"
               matInput
               placeholder="Contraseña"
               [type]="hide ? 'password' : 'text'"
               required/>
        <button mat-icon-button
                matSuffix
                aria-label="'Hide Password'"
                type="button"
                (mousedown)="hide = !hide">
          <mat-icon>
            {{ hide ? "visibility_off" : "visibility" }}
          </mat-icon>
        </button>
        <mat-error *ngIf="!loginForm.controls['password'].valid">
          Contraseña obligatoria
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <button mat-raised-button class="blue" type="button" (click)="backWeb()">Volver a la web</button>
    <button mat-raised-button class="blue ml-3" type="submit" >Acceder</button>
  </form>
</mat-card>
