<body data-spy="scroll" data-target=".fixed-top">
  <app-header></app-header>
  <app-scroll-top></app-scroll-top>
  <header id="header" class="ex-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Terapia individual</h1>
        </div>
      </div>
    </div>
  </header>
  <app-breadcrums
    [text]="'Terapia individual'"
    [section]="'services'"
  ></app-breadcrums>
  <div class="ex-basic-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-container">
            <h3>¿En qué consiste?</h3>
            <p class="justify">
              Existen diferentes situaciones que pueden afectar al individuo
              generando un malestar emocional que no puede resolver por sí solo.
              Desde Psykey, evaluamos cada caso particular y elegimos
              cuidadosamente las técnicas más efectivas y que han probado dar
              mejores resultados. Intentamos devolver al paciente la capacidad
              de controlar su vida y proporcionar caminos alternativos para que
              alcancen un estado de bienestar.
            </p>
            <p class="justify">
              La terapia individual consiste en la creación de un espacio libre
              de juicios donde la persona tenga la oportunidad de expresar
              aquello que le supone un conflicto, donde aprenda herramientas
              útiles con el fin de disminuir su sufrimiento y promover el
              crecimiento personal.
            </p>

            <p class="justify">
              En el transcurso de la psicoterapia se identifica el origen de los
              conflictos que han llevado a la persona a buscar ayuda, los cuales
              pueden ser de carácter temporal o derivados de situaciones que
              forman parte de su historia personal. Ser capaz de expresar con
              palabras lo que sucede puede hacer que se logre una mejor
              comprensión y normalización de la vivencia. Todo ello contribuye a
              preparar el terreno sobre el que aplicar la psicoterapia y lograr
              el cambio.
            </p>
            <br />
            <p class="justify">
              A través de la psicoterapia se pretende poner a disposición de la
              persona nuevos recursos personales o mejorar los suyos propios
              para manejar, afrontar, solucionar, y prevenir futuras situaciones
              similares.
            </p>
            <br />
            <h4>¿Cuándo es recomendable acudir a terapia?</h4>
            <p class="justify">
              No necesariamente hay que esperar a tener un problema grave para
              acudir a consulta. Cuando se trata de tomar de decisiones
              importantes, bloqueos temporales, periodos de estrés,
              afrontamiento de escenarios complejos para los que no disponemos
              de herramientas... En definitiva, en cualquier situación que
              impida que desarrollemos nuestra actividad diaria con normalidad o
              que no sepamos afrontar con eficacia.
            </p>
            <p class="justify">
              Además, la terapia psicológica es fundamental en los siguientes
              casos:
            </p>
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">Depresión, ansiedad, estrés.</div>
              </li>
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">
                  Baja autoestima, ausencia de habilidades sociales, timidez
                  excesiva.
                </div>
              </li>
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">Trastornos de personalidad.</div>
              </li>
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">
                  Trastornos de la conducta alimentaria.
                </div>
              </li>
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">
                  Trastornos del sueño: insomnio, hipersomnia, pesadillas...
                </div>
              </li>
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">Trastornos del estado de ánimo.</div>
              </li>
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">Fobias.</div>
              </li>
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">Adicciones.</div>
              </li>
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">Trastornos psicosomáticos.</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
