mat-form-field {
  margin: 1rem;
}
mat-label {
  padding: 1rem;
}

.width {
  min-width: 97% !important;
}

mat-form-field {
  width: 30%;
}
.accept {
  background-color: #242e42;
  color: white;
}

.accept:hover {
  background-color: #7889a4;
  color: white;
}

.cancel {
  background-color: #800c04;
  color: white;
}

.cancel:hover {
  background-color: rgb(170, 57, 57);
  color: white;
}

