<body data-spy="scroll" data-target=".fixed-top">
<app-header></app-header>
<app-scroll-top></app-scroll-top>
<header id="header" class="header">
  <div class="header-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-container">
            <h1 class="">
              Bienvenido a Psykey. Atención psicológica de calidad. <br/> Cuidamos de tu salud mental.
            </h1>
            <a class="btn btn-contact page-scroll" href="#contact">Contacto</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="services" class="cards-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">Servicios</div>
        <h2>Trabajamos para ayudarte</h2>
        <p class="text-center justify">
          Trabajamos desde la premisa de que cada caso es único y diferente al resto, por ello empleamos las técnicas
          más adecuadas. En Psykey entendemos la psicoterapia desde un enfoque sistémico, donde la persona, pareja o
          miembro de la familia nunca es la causa
          del problema, sino parte de un sistema en el que existe una influencia recíproca. Asimismo, la perspectiva
          cognitivo-conductual es otra de las perspectivas desde la que realizamos intervenciones, por ser ésta una de
          las orientaciones
          con las técnicas más efectivas para el cambio.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-image">
            <img class="img-fluid service-img"
                 src="../../assets/img/psykey-terapia-individual.jpg"
                 alt="Psykey terapia individual"/>
          </div>
          <div class="card-body">
            <h3 class="card-title">Terapia Individual</h3>
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
                <div class="media-body">
                  Trastornos del estado de ánimo.
                </div>
              </li>
              <li class="media">
                <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
                <div class="media-body">Trastornos de ansiedad.</div>
              </li>
              <li class="media">
                <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
                <div class="media-body">Trastornos de personalidad.</div>
              </li>
              <li class="media">
                <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
                <div class="media-body">
                  Trastornos de conducta alimentaria.
                </div>
              </li>
              <li class="media">
                <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
                <div class="media-body">Adicciones.</div>
              </li>
            </ul>
          </div>
          <div class="button-container">
            <a class="btn-solid-reg page-scroll" routerLink="/terapia-individual">Más</a>
          </div>
        </div>


        <div class="card">
          <div class="card-image">
            <img class="img-fluid" src="../../assets/img/psykey-terapia-pareja.jpg" alt="Psykey Terapia Pareja"/>
          </div>
          <div class="card-body">
            <h3 class="card-title">Terapia de pareja</h3>
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
                <div class="media-body">Falta de comunicación.</div>
              </li>
              <li class="media">
                <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
                <div class="media-body">Discusiones frecuentes.</div>
              </li>
              <li class="media">
                <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
                <div class="media-body">Relaciones íntimas.</div>
              </li>
              <li class="media">
                <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
                <div class="media-body">
                  No aceptación de peculiaridades del otro.
                </div>
              </li>
              <li class="media">
                <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
                <div class="media-body">Ausencia de tiempo de calidad.</div>
              </li>
            </ul>
          </div>
          <div class="button-container">
            <a class="btn-solid-reg page-scroll" routerLink="/terapia-pareja">Más</a>
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <img class="img-fluid" src="../../assets/img/pskykey-terapia-familia.jpg" alt="Psykey terapia familiar"/>
          </div>
          <div class="card-body">
            <h3 class="card-title">Terapia familiar</h3>
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
                <div class="media-body">Entender dinámicas familiares.</div>
              </li>
              <li class="media">
                <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
                <div class="media-body">
                  Identificar las fortalezas y debilidades.
                </div>
              </li>
              <li class="media">
                <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
                <div class="media-body">
                  Desarrollar habilidades de comunicación alternativas.
                </div>
              </li>
              <li class="media">
                <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
                <div class="media-body">Fortalecer la unidad familiar.</div>
              </li>
            </ul>
          </div>
          <div class="button-container">
            <a class="btn-solid-reg page-scroll" routerLink="/terapia-familiar">Más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="center" class="basic-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="text-container">
          <div class="section-title">El Centro</div>
          <h2 class="testimonial-text text-center">
            El que puede cambiar sus pensamientos puede cambiar su destino.
            Tú eres la llave del cambio. En Psykey te ayudamos a encontrar
            la forma de continuar avanzando.
          </h2>
          <p class="justify">
            En ocasiones, las personas nos vemos inmersas en situaciones que
            producen estados malestar emocional. Cuando nos instalamos en
            ese malestar y se convierte en la rutina habitual es cuando una
            visión externa puede hacer que enfrentemos la misma realidad con
            otros ojos. En Psykey pensamos que cada persona es la llave para
            encontrar la solución a su problema y la acompañamos en el
            proceso del cambio.
          </p>
          <div class="justify">
            Nuestros objetivos son:
            <ul>
              <li>
                Aliviar el sufrimiento psicológico y malestar emocional.
              </li>
              <li>Encontrar soluciones para mejorar cada situación.</li>
              <li>Potenciar y amentar los recursos personales.</li>
            </ul>
          </div>
          <p class="justify">
            Nos centramos en tratamientos basados en la evidencia científica
            que garantizan la eficacia en los resultados. Además, creemos en
            el trato cercano con quienes acuden a nosotros. Entendemos que
            la ayuda pasa por la empatía y procuramos que nuestros pacientes
            cuenten con todo el apoyo y la comodidas que necesitan. La
            confidenciaidad y el secreto profesional están garantizados.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="image-container">
          <img class="img-fluid" src="../../assets/img/centro.jpg" alt="Psykey centro psicología"/>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="team" class="basic-2">
  <div class="col-lg-12">
    <div class="section-title text-center">Equipo Psykey</div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Nuestros profesionales</h2>
        <p class="text-center justify">
          El equipo de Psykey está compuesto por psicólogas con diferentes
          especializaciones que garantizan la profesionalidad en el
          tratamiento. Manejan técnicas que, combinadas, pueden llegar a dar
          grandes resultados y permitir que nuestros pacientes consigan el
          cambio en su vida que estaban buscando.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="team-member">
          <div class="image-wrapper">
            <img class="img-fluid" src="../../assets/img/Mafalda.jpg" alt="Psykey Mafalda"/>
          </div>
          <p class="p-large">Mafalda García</p>
          <p class="job-title">
            Psicoterapeuta de familia.<br/>
            Psicóloga clínica.
          </p>
        </div>
        <div class="team-member">
          <div class="image-wrapper">
            <img class="img-fluid" src="../../assets/img/Angelica.jpg" alt="Psykey Angélica"/>
          </div>
          <p class="p-large">Angélica Navarro</p>
          <p class="job-title">
            Psicóloga General Sanitaria. <br/>
            Terapeuta de pareja.
          </p>
        </div>
        <div class="team-member">
          <div class="image-wrapper">
            <img class="img-fluid" src="../../assets/img/Marina.jpg" alt="Psykey Marina"/>
          </div>
          <p class="p-large">Marina Aguado</p>
          <p class="job-title">
            Psicóloga sistémica. <br/>
            Directora de Psykey.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="testimonials" class="slider">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">Testimonios</div>
        <p class="text-center justify">
          Como sabemos que buscar ayuda no siempre es fácil, te mostramos
          las opiniones de algunas personas que ya han acudido a Psykey
          Psicología.
        </p>
      </div>
    </div>

    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="testimonial-text">
                "Su ayuda ha sido fundamental para salir del pozo en
                el que estaba. Ahora sy una persona diferente"
              </div>
              <p class="testimonial-p">
                Mafalda me ayudó a darme cuenta de todas las etiquetas
                y miedos que llevaba cargando tanto tiempo. Pensar así
                sólo me frenaba, hacía que no tuviese fuerzas para
                enfrentarme a la realidad. Fue paciente y me guió para
                saber usar mis propios recursos, he aprendido a poner
                límites en mi vida, ya no me culpo por cosas que hacen
                los demás. Su ayuda ha sido fundamental para salir del
                pozo en el que estaba. Me he desecho de esa visión
                negativa, del miedo, ahora soy una persona diferente.
              </p>
              <div class="testimonial-author">Emilia Jiménez</div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="testimonial-text">
                "Tenía mis dudas al comienzo, me sentía incómodo con
                la idea de contar mis problemas a un desconocido. La
                terapia me permitió resolver la crisis que estaba
                atravesando mi relación de pareja."
              </div>
              <p class="testimonial-p">
                Tenía mis dudas al comiendo, me sentía incómodo con la
                idea de contar mis problemas a un desconocido pero la
                cercanía y el buen trato de los profesionales de
                Psykey hizo que me relajase y me fuese soltando A
                medida que avanzaban las sesiones me sentía más a
                gusto y seguro. La terapia me fui bien, me permitió
                solucionar la crisis que estaba atravesando mi
                relación de pareja, y además, resolver otros
                conflictos que no había superado.
              </p>
              <div class="testimonial-author">Andrés Moreno</div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="testimonial-text">
                "Necesitábamos alguien profesional que supiése
                exáctamente cómo ayudarnos y eso fue lo que
                encontramos en Psykey."
              </div>
              <p class="testimonial-p">
                Sergio había bajado su rendimiento escolar, t
                prácticamente tenía peleas continuas con su hermana.
                Yyo era quien se encargaba de todo en casa, no sabía
                qué más hacer. O cambiaba nuestra rutina o
                terminaríamos peor. Necesitábamos alguien profesional
                que supiése exáctamente cómo ayudarnos y eso fue lo
                que encontramos en Psykey, Marina entendió
                perfectamente nuestras necesidades y no dejó que nos
                perdésemos en el caos y el estrés. Poco tiempo después
                de empezar, el rendimiento de Sergio fue el de siempre
                y las peleas desaparecieron.
              </p>
              <div class="testimonial-author">Lola Piqueras</div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="testimonial-text">
                "Pensaba que no había solución pero estaba equivocado.
                Ha sido la mejor decisión que podíamos haber tomado."
              </div>
              <p class="testimonial-p">
                Nuestra forma de tratarnos se había vuelto
                desagradable, nos echábamos cosas en cara. Era
                insostenible. Unos amigos nos lo sugirieron y
                decidimos darle una oportunidad como último recurso.
                Yo pensaba que no había, sólo el divorcio, pero estaba
                doblemente equivocado: no hay que ver la terapia de
                pareja como último recurso, sino como uno más. Confiar
                en una profesional como Angélica nos ha servido para
                ver qué hacíamos mal y reorientar nuestra relación. Ha
                sido la mejor decisión que podíamos haber tomado.
              </p>
              <div class="testimonial-author">Francisco Peña</div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="card">
            <div class="card-body">
              <div class="testimonial-text">
                Estaba harta de ser turista de mi propia vida y no
                poder hacer las cosas que hacía antes. Recomiendo la
                psicoterapia al 100%."
              </div>
              <p class="testimonial-p">
                La ansiedad estaba pudiendo conmigo. Estaba harta de
                ser turista de mi propia vida y no poder hacer las
                cosas que hacía antes. Al principio yo no era
                consciente de lo que me estaba pasando, hasta que un
                día mi pareja tuvo una conversación conmigo. Fue
                entonces que decidí empezar terapia con Mafalda, una
                profesional que me recomendaron. Supo dar en el clavo,
                me ayudó a comprender la situación que estaba viviendo
                y todo lo que interpretaba en mi cabeza. Estoy muy
                contenta de haberme decidido a buscar ayuda
                profesional, recomiendo la psicoterapia al 100%.
              </p>
              <div class="testimonial-author">María Durán</div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

<div id="contact" class="form-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="text-container">
          <div class="section-title">Contacto</div>
          <h2>Contáctanos a través del formulario</h2>
          <p>
            Puedes pasarte por Psykey y pedir una cita o ponerte en contacto
            a través del formulario para cualquier consulta.
          </p>
          <ul class="list-unstyled li-space-lg">
            <li class="address">
              <fa-icon [icon]="markerAltIcon" [classes]="['fas fa-map-marker-alt']"></fa-icon>
              C/ Inventada, nº7. Badajoz, Extremadura.
            </li>
            <li>
              <fa-icon [icon]="phoneIcon" [classes]="['fas fa-phone']"></fa-icon>
              <a href="#">+81 321-654-987</a>
            </li>
            <li>
              <i class="fas fa-envelope"></i>
              <fa-icon [icon]="envelopeIcon" [classes]="['fas fa-envelope']"></fa-icon>
              <a href="mailto:#">psykey@gamil.com</a>
            </li>
          </ul>
          <h3>Síguenos en redes sociales</h3>
          <a href="#your-link">
            <span class="fa-stack text-center">
              <fa-icon [icon]="facebookIcon" [classes]="['fa-stack-1x']"></fa-icon>
            </span>
          </a>
          <a href="#your-link">
            <span class="fa-stack text-center">
              <fa-icon [icon]="twitterIcon" [classes]="['fa-stack-1x']"></fa-icon>
            </span>
          </a>
          <a href="#your-link">
            <span class="fa-stack text-centertext-center">
              <fa-icon [icon]="instagramIcon" [classes]="['fa-stack-1x']"></fa-icon>
            </span>
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <form id="contactForm" data-toggle="validator" data-focus="false">
          <div class="form-group">
            <input type="text" class="form-control-input" id="cname" required/>
            <label class="label-control" for="cname">Nombre</label>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <input type="email" class="form-control-input" id="cemail" required/>
            <label class="label-control" for="cemail">Email</label>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control-textarea" id="cmessage" required></textarea>
            <label class="label-control" for="cmessage">Mensaje</label>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group checkbox">
            <input type="checkbox" id="cterms" value="Agreed-to-Terms" required/>He leído y acepto los
            <a routerLink="/terminos-condiciones">Términos y condiciones</a> y
            <a routerLink="/politica-privacidad">Política de Privacidad</a>

            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <button type="submit" class="form-control-submit-button">
              ENVIAR MENSAJE
            </button>
          </div>
          <div class="form-message">
            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
