<body data-spy="scroll" data-target=".fixed-top">
  <app-header></app-header>
  <app-scroll-top></app-scroll-top>
  <header id="header" class="ex-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Términos y condiciones</h1>
        </div>
      </div>
    </div>
  </header>
  <app-breadcrums [text]="'Términos y condiciones'"></app-breadcrums>
  <div class="ex-basic-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-container">
            <h3>Limitaciones de responsabilidad</h3>
            <p>
              Psykey también recoge y recibe automáticamente cierta información
              información de su ordenador o dispositivo móvil, incluyendo las
              actividades que usted realiza en nuestro sitio web, las
              plataformas y las aplicaciones, el tipo de hardware y software que
              está utilizando (por ejemplo, su sistema operativo o navegador) y
              la información obtenida de las cookies. Por ejemplo, cada vez que
              visita el sitio web o utiliza los servicios de otro modo,
              recogemos automáticamente su dirección IP, el tipo de navegador y
              de dispositivo, las horas de acceso, la página web página web de
              la que procede, las regiones desde las que navega la página web, y
              la(s) página(s) a la(s) que accede (según corresponda).
            </p>
            <p>
              Al resigistrarse por primera ver y usar alfuno de nuestros
              servicios, recogemos información personal, como:  
            </p>
            <ul class="list-unstyled li-space-lg indent">
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">
                  La zona geográfica en la que utiliza su ordenador y sus dispositivos móviles.
                </div>
              </li>
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">
                  Su nombre completo, nombre de usuario y dirección de correo electrónico y otros datos de contacto.
                </div>
              </li>
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">
                  Un ID de usuario único de Psykey (una cadena alfanumérica) que se
                  que se le asigna al registrarse.
                </div>
              </li>
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">
                  Otra información opcional como parte del perfil de su cuenta.
                </div>
              </li>
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">
                  Su dirección IP y, en su caso, la fecha relacionada con su consentimiento y la confirmación del mismo.
                </div>
              </li>
            </ul>
          </div>

          <div class="text-container">
            <h3>Términos y condiciones</h3>
            <p>
              En ningún caso Psykey será responsable de ningún daño directo,
              indirectos, especiales, incidentales o consecuentes, incluyendo,
              pérdida de datos o de beneficios, que se deriven del uso o de la imposibilidad de
              uso, o la incapacidad de usar, los materiales de este sitio, incluso si
              Psykey o un representante autorizado hayan sido advertidos de la
              posibilidad de tales daños. Si el uso de los materiales de este sitio
              sitio resulta en la necesidad de servicio, reparación o corrección de
              equipo o datos, usted asume los costes correspondientes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
