<body data-spy="scroll" data-target=".fixed-top">
<app-header></app-header>
<app-scroll-top></app-scroll-top>
<!-- Header -->
<header id="header" class="ex-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Política de privacidad</h1>
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</header>
<!-- end of ex-header -->
<!-- end of header -->
<app-breadcrums [text]="'Privacy Policy'"></app-breadcrums>
<!-- Privacy Content -->
<div class="ex-basic-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-container">
          <h3>GENERAL</h3>
          <p class="justify">
            A los efectos de lo previsto en el Reglamento Europeo de
            Protección de Datos UE 2016/679, de 27 de Abril, del Parlamento
            y el Consejo, en la Ley 3/2018, de 5 de Diciembre, de Protección
            de Datos y Garantía de los Derechos Digitales y resto de la
            normativa nacional vigente, Psykey Psicología, le informa que
            cumple íntegramente con la legislación vigente en materia de
            protección de datos de carácter personal, y con los compromisos
            de confidencialidad propios de su actividad. <br/><br/>
            Psykey Psicología pone en su conocimiento la existencia de un
            sistema de tratamiento de la información, titularidad de Psykey
            Psicología para las finalidades propias de gestión, comunicación
            e información. El citado sistema se encuentra descrito en el
            correspondiente Registro de Actividades de Tratamiento del RT.
          </p>
          <br/><br/><br/>
          <h3>MEDIDAS Y NIVELES DE SEGURIDAD</h3>
          <p class="justify">
            Psykey Psicología ha adoptado las medidas necesarias para
            garantizar la seguridad de la información, tal y como exige el
            art. 32 del RGPD, según la naturaleza de los datos personales
            tratados y las circunstancias del tratamiento, con el objeto de
            evitar, en la medida de lo posible y siempre según el estado de
            la técnica, su alteración, pérdida, tratamiento o acceso no
            autorizado, garantizando con ello la confidencialidad,
            integridad y disponibilidad de los mismos.
          </p>
          <br/><br/><br/>
          <h3>AMBITO DE APLICACIÓN</h3>
          <p class="justify">
            Las medidas de seguridad que Psykey Psicología tenga descritas
            en el Registro de Actividades de Tratamiento serán aplicadas al
            conjunto de activos del sistema de tratamiento de la información
            en el que se traten los datos de carácter personal, con el
            objeto de dar cumplimiento a la legislación vigente en materia
            de protección de datos.
            <br/>
            Todo el personal contratado por Psykey Psicología y sus
            Encargados de Tratamiento, están obligados al cumplimiento de la
            citada normativa, con especial atención en lo relativo a sus
            funciones y obligaciones, incluido el deber de secreto que serán
            debidamente determinadas por Psykey Psicología.
          </p>
          <br/><br/><br/>
          <h3>RECOGIDA DE DATOS</h3>
          <p class="justify">
            La aceptación de las presentes condiciones, precisa del usuario
            la recogida de unos datos imprescindibles para la prestación de
            sus servicios, que le serán solicitados personalmente a través
            de formularios o de la página Web. En el momento de la recogida
            de los datos, el usuario será debidamente informado de los
            derechos que le asisten.
            <br/>
            Para que la información que contiene nuestro sistema de
            tratamiento esté siempre actualizada y no contenga errores,
            pedimos a nuestros clientes y usuarios que nos comuniquen, a la
            mayor brevedad posible, las modificaciones y rectificaciones de
            sus datos de carácter personal.
          </p>
          <br/><br/><br/>
          <h3>OBJETO: EJERCICIO DE DERECHOS</h3>
          <p class="justify">
            Para ejercitar los Derechos de acceso, impugnación,
            rectificación, cancelación, supresión u oposición, portabilidad,
            limitación del tratamiento, deberán dirigirse a Psykey
            Psicología, C/ Inventada, nº7 – Badajoz, mediante comunicación
            por escrito o mediante correo electrónico a la dirección
            info@zeempsicologia.es. También puede presentar reclamación ante
            la AEPD.
          </p>
          <br/><br/><br/>
          <h3>OBJETO: EJERCICIO DE DERECHOS</h3>
          <p class="justify">
            Para ejercitar los Derechos de acceso, impugnación,
            rectificación, cancelación, supresión u oposición, portabilidad,
            limitación del tratamiento, deberán dirigirse a Psykey
            Psicología, C/ Inventada, nº7 – Badajoz, mediante comunicación
            por escrito o mediante correo electrónico a la dirección
            info@zeempsicologia.es. También puede presentar reclamación ante
            la AEPD.
          </p>
          <br/><br/><br/>
          <h3>CONSENTIMIENTO</h3>
          <p class="justify">
            El usuario prestará su consentimiento para que Psykey Psicología
            pueda hacer uso de sus datos personales a fin de prestar un
            correcto cumplimiento de los servicios contratados. <br/>
            La cumplimentación del formulario incluido en el sitio o el
            envío de correos electrónicos u otras comunicaciones a ZEEM
            PSICOLOGÍA, implica el consentimiento expreso del usuario a la
            inclusión de sus datos de carácter personal en el referido
            sistema de tratamiento, titularidad de Psykey Psicología. <br/>
            Al tiempo de la petición de esta información, se comunicará al
            cliente o usuario del destinatario de la información, de la
            finalidad para la cual se recogen los datos, de la identidad y
            dirección de Psykey Psicología y de la facultad del usuario de
            ejercitar los derechos de acceso, impugnación, rectificación,
            cancelación, supresión u oposición, portabilidad, limitación del
            tratamiento y a presentar reclamación ante la AEPD.
          </p>
          <br/><br/><br/>
          <h3>CONFIDENCIALIDAD Y SECRETO PROFESIONAL</h3>
          <p class="justify">
            Los datos recogidos en todas las comunicaciones privadas entre
            Psykey Psicología y los clientes o usuarios serán tratados con
            absoluta confidencialidad, comprometiéndose Psykey Psicología a la
            obligación de secreto de los datos de carácter personal, a su
            deber de guardarlos y adoptar todas las medidas necesarias que
            eviten su alteración, pérdida y tratamiento o acceso no
            autorizado, de acuerdo con lo establecido en la normativa
            vigente.

            <br/>
            Además, también tendrá la condición de confidencial la
            información de cualquier tipo que las partes intercambien entre
            sí, aquella que estas acuerden que tiene tal naturaleza, o la
            que simplemente verse sobre el contenido de dicha información.
            La visualización de datos a través de Internet, no supondrá el
            acceso directo a los mismos, salvo consentimiento expreso de su
            titular para cada ocasión. <br/>
            Recomendamos al cliente que no facilite a tercero alguno su
            identificación, contraseña o números de referencia que ZEEM
            PSICOLOGÍA pudiera proporcionarle. Asimismo, para garantizar que
            la protección del secreto profesional entre Psykey Psicología y el
            cliente se preserve en todas las comunicaciones, el
            cliente/usuario no debe revelar la información confidencial a
            terceros.
          </p>
          <br/><br/><br/>
          <h3>
            CAMBIOS EN LA POLÍTICA DE SEGURIDAD Y DE PROTECCIÓN DE DATOS
          </h3>
          <p class="justify">
            Psykey Psicología se reserva el derecho de modificar su política
            de seguridad y protección de datos con el objeto de adaptarlo a
            las novedades legislativas o jurisprudenciales, así como las que
            pudieran derivarse de códigos tipo existentes en la materia, o
            por decisiones corporativas estratégicas, con efectos de la
            fecha de publicación de dicha modificación en la página Web de
            Psykey Psicología.
          </p>
          <br/><br/><br/>
          <h3>DIRECCIÓN DE CONTACTO</h3>
          <p class="justify">
            El sitio Web www.psykeypsicologia.es, es gestionado por Psykey Psicología. <br><br> El sistema de
            tratamiento de la información creado,
            está ubicado en el domicilio social, el cual queda establecido a
            los efectos del presente Aviso Legal, en Psykey Psicología, C/
            Inventada, nº7, BADAJOZ, España; bajo la
            supervisión y control de Psykey Psicología, quien asume la
            responsabilidad en la adopción de medidas de seguridad de índole
            técnica y organizativa para proteger la confidencialidad e
            integridad de la información, de acuerdo con lo establecido en
            el Reglamento Europeo de Protección de Datos UE 2016/679, de 27
            de Abril, del Parlamento y el Consejo; la Ley Orgánica 3/2018,
            de 5 de Diciembre, de Protección de Datos y Garantía de los
            Derechos Digitales y resto de la normativa nacional vigente y
            demás legislación aplicable. <br><br> Psykey Psicología a tenor de la Ley
            34/2002, de Servicios de la Sociedad de la Información y del
            Comercio Electrónico, les comunica que la acepción amplia de
            dicha Ley, engloba entre estos servicios el suministro de
            información por dicho medio. En todo caso, será de aplicación a
            este respecto, el Reglamento Europeo de Protección de Datos UE
            2016/679, de 27 de Abril del Parlamento y el Consejo; la Ley
            Orgánica 3/2018, de 5 de Diciembre, de Protección de Datos y
            Garantía de los Derechos Digitales y resto de la normativa
            nacional vigente y su normativa de desarrollo, en especial, en
            lo que se refiere a la obtención de datos personales, la
            información a los interesados y la creación y mantenimiento de
            tratamientos de datos personales.
          </p>
        </div>
        <!-- end of text-container-->
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
</body>
