<body data-spy="scroll" data-target=".fixed-top">
  <app-header></app-header>
  <app-scroll-top></app-scroll-top>
  <header id="header" class="ex-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Terapia familiar</h1>
        </div>
      </div>
    </div>
  </header>
  <app-breadcrums
    [text]="'Terapia familiar'"
    [section]="'services'"
  ></app-breadcrums>
  <div class="ex-basic-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-container">
            <h3>¿Qué es la terapia de familia?</h3>
            <p class="justify">
              En Psykey Psicología trabajamos la terapia familiar desde el
              enfoque sistémico, basado en la teoría de los sistemas, que tiene
              como objeto de estudio los sistemas complejos presentes en la
              naturaleza y las relaciones que se establecen entre sus
              componentes. Aplicándolo a la familia, la terapia familiar
              sistémica puede entenderse como el conjunto de intervenciones
              destinadas a conocer la forma en que se desarrollan las
              interacciones familiares con el fin de mejorarlas y potenciar el
              cambio, mediante el uso de intervenciones psicoterapéuticas.
            </p>
            <br />
            <p class="justify">
              Es comprensible que en la familia en ocasiones se generen
              dinámicas poco funcionales debido a las diferencias existentes
              entre cada persona o que se trasladen tensiones provocadas por un
              foco externo al interior de la convivencia, dando lugar a
              situaciones de estrés y malestar. Al entender que no es un miembro
              el origen del problema, sino el tipo de interacción que tiene
              lugar, la familia se relaja, empatiza mejor con los demás, tiene
              la oportunidad de apreciar las necesidades de los otros y se
              favorece el cambio.
            </p>
            <br />
            <p class="justify">
              En resumen, la terapia familiar puede ser beneficiosa a la hora
              de:
            </p>
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">
                  Entender mejor cómo funciona la familia.
                </div>
              </li>
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">
                  Identificar las fortalezas y debilidades en el sistema de la
                  familia.
                </div>
              </li>
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">
                  Establecer objetivos y diseñar estrategias para resolver
                  problemas.
                </div>
              </li>
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">
                  Desarrollar sus habilidades de comunicación.
                </div>
              </li>
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">
                  Fortalecer toda la unidad familiar.
                </div>
              </li>
            </ul>
            <br />
            <br />
            <h4>¿En qué consiste la terapia?</h4>
            <p class="justify">
              Habitualmente se realiza en forma de sesiones de 50 minutos
              aproximadamente a las que acuden las personas que conforman el
              núcleo familiar y que están implicadas en el motivo de consulta.
              La técnicas utilizadas siempre se adaptan a las características de
              los demandantes, de modo que cada intervención es única.
            </p>
            <h4>¿Cuál es su duración?</h4>
            <p class="justify">
              La terapia breve sistémica se centra en intervenciones breves con
              una duración a corto plazo, siempre en función del motivo de
              consulta y las necesidades de cada familia.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
