<body data-spy="scroll" data-target=".fixed-top">
<app-header></app-header>
<app-scroll-top></app-scroll-top>
<header id="header" class="ex-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Terapia de pareja</h1>
      </div>
    </div>
  </div>
</header>
<app-breadcrums [text]="'Terapia de pareja'"
                [section]="'services'"></app-breadcrums>
<div class="ex-basic-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-container">
          <h3>¿En qué consiste?</h3>
          <p class="justify">
            La terapia de pareja consiste en la aplicación de técnicas de
            psicoterapia al sistema conformado por la pareja. Cuando se hace
            explícita una insatisfacción constante en la relación de pareja
            bien sea causada por factores externos o por la repetición de
            conflictos internos que general situaciones de malestar, puede
            ser conveniente acudir a un profesional que proporcione un punto
            de vista objetivo, analice la situación y ofrezca recursos
            alternativos para solucionar el problema. <br/>
            El principal objetivo de esta modalidad es que cada integrante
            de la pareja asimile habilidades más funcionales a la hora de
            comunicarse con su pareja, que ayuden a la que situación
            problemática se desarrolle de manera distinta y por tanto no dé
            lugar al comportamiento habitual. La relación habrá mejorado en
            el momento en que ambos sean capaces de dialogar y expresar sus
            sentimientos de manera constructiva.
          </p>
          <br/>
          <br/>
          <h4>¿A quién se dirige la terapia de pareja?</h4>
          <p class="justify">
            Se dirige a las parejas que tienen la verdadera intención de
            transformar positivamente el estado de su relación y dejar atrás
            las desavenencias o dificultades que puedan tener. También a
            aquellas personas que consideran que:
          </p>
          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
              <div class="media-body">
                Han perdido la confianza en su pareja.
              </div>
            </li>
            <li class="media">
              <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
              <div class="media-body">
                Perciben que su pareja aleja a la familia.
              </div>
            </li>
            <li class="media">
              <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
              <div class="media-body">
                No han superado traumas pasados que repercuten en la
                actualidad.
              </div>
            </li>
            <li class="media">
              <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
              <div class="media-body">
                Los celos del otro se han convertido en un problema serio.
              </div>
            </li>
            <li class="media">
              <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
              <div class="media-body">
                La vida familiar eclipsa la relación de pareja.
              </div>
            </li>
            <li class="media">
              <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
              <div class="media-body">
                Quieren tener más tiempo de calidad.
              </div>
            </li>
            <li class="media">
              <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
              <div class="media-body">
                Tienen dificultades a la hora de entenderse y comunicarse.
              </div>
            </li>
            <li class="media">
              <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
              <div class="media-body">
                Se han superado los límites de la relación.
              </div>
            </li>
            <li class="media">
              <fa-icon [icon]="squareIcon" [classes]="['fas fa-square']"></fa-icon>
              <div class="media-body">
                Existen dificultades en las relaciones íntimas o éstas se han convertido en tabú.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
</body>
