<body data-spy="scroll" data-target=".fixed-top">
  <app-header></app-header>
  <app-scroll-top></app-scroll-top>
  <header id="header" class="ex-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Aviso Legal</h1>
        </div>
      </div>
    </div>
  </header>
  <app-breadcrums [text]="'Aviso Legal'"></app-breadcrums>
  <div class="ex-basic-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-container">
            <h3>TITULARIDAD Y PROPIEDAD INTELECTUAL</h3>
            <p class="justify">
              En cumplimiento de lo expuesto en el artículo 10 de la Ley 34/2002
              de Servicios de la Sociedad de la Información y de Comercio
              Electrónico, se informa que la presente página web es propiedad de
              Irina Sánchez Maldonado en adelante Psykey Psicología, con NIF
              0X0XX0X y domicilio social en Calle Inventada, nº 7 de Badajoz.
              Teléfono 321-654-987 y correo electrónico psykey@gmail.com.
              <br /><br />
              El uso de este sitio web, incluido el simple acceso, queda sujeto
              a las condiciones de uso que se exponen. El acceso a la página y
              la utilización de su contenido supone que usted lee y acepta sin
              reservas las citadas condiciones. Todo el material gráfico
              corresponde por derecho a las siguientes webs: www.pixabay.com y
              www.pexels.com. La estructura web está basada en la plantilla Aria
              de Inovatik.
              <br /><br />
              La información sobre política de privacidad, aviso legal y téminos
              y condiciones ha sido emulada a partir del sitio web
              www.zeem.psicología.es.
            </p>
            <br /><br />

            <h3>PROTECCIÓN DE DATOS</h3>
            <p class="justify">
              En virtud de lo dispuesto en la Ley Orgánica 15/1999, de 13 de
              diciembre, de Protección de Datos de Carácter Personal, le
              informamos que los datos personales que usted nos facilite
              quedarán incorporados y serán tratados con todas las medidas de
              seguridad necesarias y exigidas por dicha Ley, en los ficheros
              titularidad de Psykey Psicología, con el fin de poder atender su
              petición y prestarle el servicio solicitado, así como para
              mantenerle informado por diversos canales de comunicación sobre
              cuestiones relativas a nuestra actividad. Psykey Psicología asegura
              la confidencialidad de los datos aportados por nuestros
              usuarios/as y garantiza que en ningún caso serán cedidos a
              terceros.
              <br /><br />
            </p>

            <p>Los datos que se recopilamos son:</p>
            <ul class="list-unstyled li-space-lg indent">
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">
                  Localización geográfica desde la que se realiza el acceso.
                </div>
              </li>
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">
                  Nombre completo, dirección de email y otros detalles de
                  contacto.
                </div>
              </li>
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">
                  Un ID (identificador único) para la gestión de la información
                  en la base de datos.
                </div>
              </li>
              <li class="media">
                <fa-icon
                  [icon]="squareIcon"
                  [classes]="['fas fa-square']"
                ></fa-icon>
                <div class="media-body">
                  Dirección IP , y cuando sea permtinente y aplicable, la
                  dirección, y fecha relacionada con el consentimiento y
                  confirmación.
                </div>
              </li>
            </ul>
            <br /><br />
            <p class="justify">
              Así mismo, le informamos de la posibilidad de ejercer, en
              cualquier momento, los derechos de acceso, rectificación,
              cancelación y oposición de sus datos de carácter personal mediante
              solicitud escrita y firmada, acompañada de Documento de Identidad,
              dirigida a Psykey Psicología, en la dirección postal anteriormente
              mostrada.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
