<mat-card>
  <mat-card-header>
    <mat-card-title>Tareas pendientes</mat-card-title>
  </mat-card-header>
<mat-divider></mat-divider>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem" #task *ngFor="let task of taskList">
        {{task.description}}
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button  type="button" (click)="openSnackBar()">Ver más</button>
  </mat-card-actions>
</mat-card>
